#patras{
    margin-top: 10px;
    margin-bottom: 20px;

}

#e{
    border-style: dotted;
    border-color: #9acfea;
}

.img{
    width: 400px;
}

section{

    border-bottom: 10px;

}

.col-md-4{
    width: 70%;

}