<!DOCTYPE html>
        <html>
<head>
    {% block head %}
        <!--links-->
        <link rel="stylesheet" type="text/css" href="{{ asset('/styles.css','css') }}">

        <!--<link rel="stylesheet" type="text/css" href="../../../Practica1/Practica1/register.css">-->



        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


    <title>{% block title %}{% endblock %} - My Webpage</title>

    {% endblock %}
</head>
<body>

<div id="content">{% block content %}{% endblock %}</div>
<footer>
    {% block footer %}
        Nick van der Graaf, Daniel Lazaro, Miquel Sans
    {% endblock %}
</footer>
{% block scripts %}
    <script src="{{ asset('../../../web/assets/js/jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('../../../web/assets/bootstrap-3.3.7-dist/js/bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
</body>
</html>