<!DOCTYPE html>
<html>
<head>
    {% block styles %}
        <!--links-->
        <link rel="stylesheet" type="text/css" href="{{ asset('/styles.css','css') }}">

        <!--<link rel="stylesheet" type="text/css" href="../../../Practica1/Practica1/register.css">-->



        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    {% endblock %}

    <title>{% block title %}{% endblock %} - My Webpage</title>


</head>
<body>
<div id="header">{% block header %}{% endblock %}</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2017 - {{ app.name }}
    {% endblock %}
</div>
{% block scripts  %}
    <!--<script src="{{ asset('../../../web/assets/js/jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('../../../web/assets/bootstrap-3.3.7-dist/js/bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>
    -->
{% endblock %}
</body>
</html>