<!DOCTYPE html>
        <html>

    {% block styles %}
        <head>
        <!--links-->

        <!--<link rel="stylesheet" type="text/css" href="../../../Practica1/Practica1/register.css">-->

        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.css','css') }}">


        <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

        </head>
    {% endblock %}


{% block title %}
    <title>

        Pwgram

    </title>
{% endblock %}

<body>
{% block header %}{% endblock %}

<div id="content">{% block content %}{% endblock %}</div>

    {% block footer %}
        <footer>
        Nick van der Graaf, Daniel Lazaro, Miquel Sans
        </footer>
    {% endblock %}

{% block scripts %}
    <script src="{{ asset('jquery.js','js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('bootstrap.js','js') }}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
</body>
</html>