{% extends "../../../../../../../../Users/miquelator/Dropbox/Informatica_gestio_compartit (1)/silex/src/View/templates/base.twig" %}
{% block title %}Error page{% endblock %}
{% block content %}
    <h1>An error has occurred</h1>
    <p>{{ message }}</p>
{% endblock %}