{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
{% endblock %}
{% block content %}
	<form action="/register">
		<input type="submit" value="Registrar-se" class="btn btn-default navbar-btn">
	</form>
	<h1>Home </h1>
{% endblock %}
