{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css" xmlns="http://www.w3.org/1999/html">
		h1{text-transform: uppercase;}
	</style>
{% endblock %}
{% block content %}
	<a href="/register" class="btn btn-success">Registra't</a>
	<a href="/login" class="btn btn-primary">Login</a>
	<a href="http://google.com" class="btn btn-default">Go to Google</a>
	<h1>Home </h1>
{% endblock %}
